.TituloVentas{
    margin: 0px;
    font-weight: bold;
}

.Valores{
    font-weight: bold;
    font-size: 1.6rem;
}

 .contenedor{
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 50px; 

    
   /*  border: 1px solid #000;
    border-radius: 5px;*/
    
}
 