

    .CajaMesa{
        background-color: #0388E5;
        border-radius: 15px;
        border: 1px solid;
        height: 90px;
        width: 120px;
        position: relative;

        .circulo{
            position: absolute;
            top: 10px;
            right:10px;
            /* color: #AAAAAA; */
        }
    
        .TextoMesa{
            margin: 0px;
            padding: 0px;
        }
    
        .CajaMesa:hover{
            background-color: #2a9bec;
        }
    }


    .CajaBoton{

        background-color: #0388E5;
        border-radius: 15px;
        height: 90px;
        width: 120px;
        position: relative;
        
        .TextoMesa{
            margin: 0px;
            padding: 0px;
            font-weight: bold;
        }

        .Punto{
            position: absolute;
            top:5px;
            right: 5px;
        }
       
    }





  /*   className='p-col-4 p-lg-2 p-md-3 p-sm-4 p-d-flex p-jc-center' */